{% extends "base.html" %}

{% block content %}
       

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">How to update SSL Certificate</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="col-lg-10" style="float: none;margin: 0 auto;">
                   PlaceHolder for Documentation 
                </div>
            </div>
            <!-- /.row -->
            
{% endblock %}