{% extends "base.html" %}

{% block content %}
       

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Instant Check
                        </div>
                        <div class="panel-body">
                            <form role="form" id="instant_check_form">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>URL</label>
                                        <input class="form-control" id="instant_check_url">
                                        <p class="help-block">Example: www.vodafone.com</p>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary" id="instant_check_sbmt">Check</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Services Chart
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Filter
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Comming Soon!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                    <!-- /.panel -->

                <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Overall Status
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <a href="{% url 'index' %}services_list" class="btn btn-default btn-block">View Details</a>
                            </div>     
                        </div>
                         <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Control Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                Manage your service URLs and control the notification through Control Panel
                            </div>
                            <!-- /.list-group -->
                            <a href="{% url 'index' %}admin" class="btn btn-default btn-block">Go to Control Panel</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>

{% endblock %}